<h2>Courses</h2>

<ul>
{{#each model as |course|}}
  <li>{{course.semester}}</li>
  <li>{{course.grade}}</li>
  <li>{{course.credits}}</li>
  <li>{{course.title}}</li>
  <button class='btn btn-xs btn-danger' {{action 'delete'}}>
  Delete
  </button>
{{/each}}
</ul>
